body {
  background-color: rgb(36, 36, 36);
}

* {
  font-family: sans-serif;
}

ul {
  padding-right: 0px;
  float:left;
  position: relative;
  top: 50px;
  left: 20px;
}

ul, li, a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
  color: rgb(196, 195, 194);
  transition: color 0.2s ease-out;
  padding-right: 0px;
}

#inicio:hover,
#nosotros:hover,
#perros:hover,
#gatos:hover,
#contactanos:hover {
    color: rgb(255, 255, 255);
    transition: color 0.2s ease-out;

}

h3, p {
  color: rgb(255, 255, 255);
}

#p1 {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 35px;
  border: 1px solid cyan;
  background-color: cyan;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 50px;
  box-sizing: border-box;
}

#p2 {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 35px;
  border: 1px solid rgb(167, 220, 62);
  background-color: rgb(167, 220, 62);
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 50px;
  box-sizing: border-box;
}

#p3 {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 35px;
  border: 1px solid rgb(211, 84, 38);
  background-color: rgb(211, 84, 38);
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 50px;
  box-sizing: border-box;
}

#p4 {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 35px;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 50px;
  box-sizing: border-box;
}

#carrusel {
  margin-left: 25%;
  margin-right: 25%;
}

#cachulohtml, #flacahtml, #ninahtml, #tommyhtml, #gingerhtml, #luciferhtml{
  padding-left: 2%;
}

/* #p1 h3, #p2 h3, #p3 h3, #p4 h3{
  text-align: center;
} */